body{
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* <!-- ----Header---- --> */

.header-container{
    background-color:#FFFFFF;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.header-container-left , .header-container-right{
    display: flex;
    gap: 30px;
    align-items: center;
}
.header-container-right ul{
    display: flex;
}
.header-container-right ul li{
     list-style:none;
}
.header-container-right ul a{
    padding: 0px 10px;
    color: #555555;
    text-decoration: none;
}
.header-icon{
    display: flex;
    gap: 20px;
}
.header-right-blok{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-right-blok img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.header-right-p button{
    border-color: #7A9CA5 ;
    background-color: #7A9CA5;
    padding: 10px 40px;
    color: white;
}
nav{
    background-color: #111e22a1;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100%;
    background-image: url('./img/Background.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container h1{
    font-size: 3rem;
    padding: 10px 0px;
}
.nav-content-blok{
    display: flex;
    flex-direction: column;
}
.nav-container{
    width: 700px;
    color: white;
    padding: 100px 0px;
    text-align: center;

}
.nav-content-page h1{
    padding-top: 10px;
} 
.nav-content-page span{
    color: #5C8692;
}
.nav-button{
    padding-top: 10px;
}
.nav-container button{
    padding: 15px 30px;
    background-color: #5C8692;
    color: white;
}


/* <!-- ----section---- --> */


section{
    padding: 100px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-container{
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-blok img{
    object-fit: contain;
    width: 300px;
}
.section-text-top p{
    padding-bottom: 10px;
    color:#5C8692;
}
.section-text-top h1{
    font-size: 2rem;
}
.section-text-top{
    width: 400px;
    text-align: center;
}
.section-page{
    margin: auto 500px;
    display: flex;
    gap: 30px;
}
.section-blok{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-blok-text span{
    color: #5C8692;
}
.section-blok-text p{
    padding-bottom:15px;
}
.section-blok-text{
    padding: 10px 0px;
    text-align: center;
}
.section-icon{
    justify-content: center;
    display: flex;
    gap: 30px;
    font-size: 18px;
}


/* <!-- ----footer---- --> */
footer{
    background-color:  #1E2C30;
    height: 100%;
    width: 100%;
    padding: 50px 0px;
}
.footer-content-top{
     border-bottom: 1px solid rgba(255, 255, 255, 0.22); 
        padding: 20px 0px 30px 0px;
}
.footer-container{

    color: white;
    margin: auto 200px;


}
.footer-content-top{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer-content-left img{
    object-fit: contain;
    width: 50px;
    height: 50px;
}
.footer-content-left{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}
.footer-content-right{
    display: flex;
    gap: 20px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #5C8692;
}
.footer-box{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-box-page h3{
    padding: 10px 0px;
    font-size: 22px;
    font-weight: bold;
}
.footer-box-page p{
    padding: 3px 0px;
}
.footer-end{
    padding: 20px 0px;
    text-align: center;
    color: white;
    background-color: #111E22;
}


