body {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
a{
  text-decoration: none;
  color: black;
}

/* <!-- ----Header---- --> */

.header-container {
  background-color: #ffffff;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container-left,
.header-container-right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-container-right ul {
  display: flex;
}
.header-container-right ul li {
  list-style: none;
}
.header-container-right ul a {
  padding: 0px 10px;
  color: #555555;
  text-decoration: none;
}

.select {
  position: relative;
}
.select ul a:hover {
  transition: 0.4s;
  opacity: 0.5;
}
.select ul {
  transition: 0.4s;
  align-items: center;
  padding: 10px;
  height: 200px;
  width: 150px;
  border: 1px solid;
  position: absolute;
  top: 150%;
  left: -40px;
  display: flex;
  background: #fff;
  flex-direction: column;
  z-index: 100;
  gap: 16px;
  clip-path: inset(0 0 100% 0);
}
.select:hover ul {
  clip-path: inset(0 0 0 0);
}
.header-icon {
  cursor: pointer;
  display: flex;
  gap: 20px;
}
.header-right-blok {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-right-blok img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.header-right-p button {
  border-color: #7a9ca5;
  background-color: #7a9ca5;
  padding: 10px 40px;
  color: white;
}


.select {
  position: relative;
}
.select ul a:hover {
  transition: 0.4s;
  opacity: 0.5;
}
.select ul {
  transition: 0.4s;
  align-items: center;
  padding: 10px;
  height: 200px;
  width: 150px;
  border: 1px solid;
  position: absolute;
  top: 150%;
  left: -40px;
  display: flex;
  background: #fff;
  flex-direction: column;
  z-index: 100;
  gap: 16px;
  clip-path: inset(0 0 100% 0);
}
.select:hover ul {
  clip-path: inset(0 0 0 0);
}
.header-right-blok {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-right-blok img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.header-right-p button {
  border-color: #7a9ca5;
  background-color: #7a9ca5;
  padding: 10px 40px;
  color: white;
}

/* <!-- ----nav---- --> */

nav {
  background-color: #111e22a1;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("./img/Background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container h1 {
  font-size: 3rem;
  padding: 10px 0px;
}
.nav-content-blok {
  display: flex;
  flex-direction: column;
}
.nav-container {
  width: 700px;
  color: white;
  padding: 100px 0px;
  text-align: center;
}
.nav-content-page h1 {
  padding-top: 10px;
}
.nav-content-page span {
  color: #5c8692;
}
.nav-button {
  padding-top: 10px;
}
.nav-container button {
  padding: 15px 30px;
  background-color: #5c8692;
  color: white;
}

section {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scetion-container {
  flex-wrap: wrap;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
}
.scetion-container img {
  width: 100%;
  height: 100%;
}
.section-text span {
  color: #5c8692;
}
.section-text {
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section-text h1 {
  font-size: 2.3rem;
}
section p {
  font-size: 13px;
}
.section-text button {
  border: #5c8692;
  padding: 10px 30px;
  background-color: #5c8692;
  width: 200px;
  color: white;
}
.section-text-blok p {
  font-weight: 700;
}
.section-text-blok {
  display: flex;
  align-items: center;
  gap: 15px;
}
.section-text-blok img {
  border: 1px solid #5c8692;
  padding: 10px;
  object-fit: contain;
  width: 40px;
  height: 40px;
}
.section-icon {
  display: flex;
  gap: 20px;
}

/* ----footer---- */
footer {
  background-color: #1e2c30;
  height: 100%;
  width: 100%;
  padding: 50px 0px;
}
.footer-content-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
  padding: 20px 0px 30px 0px;
}
.footer-container {
  color: white;
  margin: auto 200px;
}
.footer-content-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer-content-left img {
  object-fit: contain;
  width: 50px;
  height: 50px;
}
.footer-content-left {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}
.footer-content-right {
  display: flex;
  gap: 20px;
}
.footer-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #5c8692;
}
.footer-box {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
}
.footer-box-page h3 {
  padding: 10px 0px;
  font-size: 22px;
  font-weight: bold;
}
.footer-box-page p {
  padding: 3px 0px;
}
.footer-end {
  padding: 20px 0px;
  text-align: center;
  color: white;
  background-color: #111e22;
}
.menu-icon {
  display: none;
}
.icon-page {
  display: flex;
  align-items: center;
}
.angle-down {
  display: none;
}
.angle-up {
  display: none;
}
.header-container-right ul {
  display: flex;
  align-items: center;
}
.menu-close {
  display: none;
}

@media (max-width: 1250px) {
  .footer-container {
    margin: auto 100px;
  }
  .footer-box {
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}
@media (max-width: 1150px) {
  .angle-up {
    display: inline;
  }
  .angle-up-none {
    display: none;
  }
  .angle-down-inline {
    display: inline;
  }
  .select ul {
    display: none;
    position: static;
  }
  .menu-icon {
    display: inline;
  }
  .header-container-left {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .header-container-right {
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    gap: 30px;
    padding: 20px 0px 0px 20px;
    z-index: 100;
    top: 0;
    backdrop-filter: blur(20px);
    background-blend-mode: multiply;
    background-color: rgba(117, 117, 117, 0.317);
    position: fixed;
    right: 0;
    left: -100%;
    width: 50%;
    height: 100%;
  }
  .header-right-p button {
    padding: 5px 10px;
  }
  .header-container-right ul {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .active.header-container-right {
    left: 0;
  }
}
@media (max-width: 1150px) {
  .div {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .active-none {
    display: none;
  }
  .menu-close {
    display: inline;
    margin-right: 30px;
  }
  .select ul {
    position: static;
  }
  .select ul {
    display: none;
  }
  .header-container-right ul li {
    width: 100%;
  }
  .header-container-right ul {
    width: 100%;
  }
  .open.select:hover ul li {
    list-style: decimal-leading-zero;
  }
  .active.header-container-right ul {
    align-items: flex-start;
  }
  .open.select:hover ul {
    background-color: transparent;
    border: none;
    width: 200px;
    height: 100%;
    padding: 30px 0px 30px 10px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
}
@media (max-width: 670px) {
  .footer-container {
    margin: auto 30px;
  }
  .footer-content-top {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
